:root {
  --dark-blue: #8CC6FF;
  --light-blue: #E0EFFF;
  --light-gray: #EBEBEB;
  --darker-gray: #D9D9D9;
  --light-yellow: #F9F6EB;
}

html, body {
  background: var(--light-yellow);
  color: var(--dark-blue);
  font-family: "Karla", sans-serif;
  font-size: 1.2vw;
  margin: 0;
  display: flex;
  flex-direction: column;
}

h3 {
  margin-bottom: 0;
  text-align: center;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  background-color: var(--dark-blue);
  height: 6vh;
  padding: 2vh;
}

.filter {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 1.5vh;
  border-radius: 0.5vw;
  gap: 1vw;
}

.input-box {
  opacity: 0;
}

.ac-true {
  background-image: url('/ac-y.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.ac-false {
  background-image: url('/ac-n.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.social-true {
  background-image: url('/social-y.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.social-false {
  background-image: url('/social-n.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.adv-true {
  background-image: url('/adv-y.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.adv-false {
  background-image: url('/adv-n.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-right {
  display: flex;
  margin-left: auto;
}

.add {
  height: 100%;
  margin-right: 2vh;
  background-color: white;
  border: none;
  border-radius: 0.5vw;
  width: 5vw;
  background-image: url('/add.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 50% 50%;
}

.add:hover {
  cursor: pointer;
}

.search {
  height: 100%;
  width: 16vw;
  border-radius: 1.5vw;
  background-color: var(--light-blue);
}

.map-container {
  margin: 2vh;
  height: 86vh;
  overflow: hidden;
}

.marker-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Karla", sans-serif;
}

.desc {
  background-color: var(--light-gray);
  font-size: 0.8vw;
  width: 100%;
  margin-top: 1vw;
  padding: 0.5vw;
  text-align: start;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.add-popup {
  display: flex;
  flex-direction: column;
  color: black;
  background-color: white;
  padding: 1vw;
  border-radius: 1vw;
  position: relative;
  width: 30vw;
  height: 75vh;
  z-index: 1000;
}

.close {
  position: absolute;
  top: 1vw;
  right: 1vw;
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
}

input, select {
  padding: 0.5vw;
  font-family: "Karla", sans-serif;
  margin-top: 1vh;
  margin-bottom: 3vh;
  color: black;
  background-color: var(--light-gray);
  border: none;
  border-radius: 0.3vw;
}

textarea {
  margin-top: 1vh;
  margin-bottom: 4vh;
  padding: 0.5vw;
  height: 100vh;
  font-family: "Karla", sans-serif;
  resize: none;
  overflow-y: auto;
  background-color: var(--light-gray);
  border: none;
  border-radius: 0.3vw;
}

.save {
  margin-bottom: 2vh;
  font-family: "Karla", sans-serif;
  font-size: 1vw;
}

.save:hover {
  cursor: pointer;
}

.no-coords-message {
  font-size: 0.9vw;
  text-align: center;
}